
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mt-5 mx-auto" style="width: 25rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1599658880436-c61792e70672?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                    <div class="card-text">
                        <h2 class="text-center">Login Form</h2>
                    </div>
                    <form class="card-body" [formGroup]="loginForm">
                        <div class="mb-2">
                            <label class="form-label" for="email">Email Address</label>
                            <input type="text" class="form-control" id="email" name="email" formControlName="email" value="">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"  formControlName="password"  value="">
                        </div>
                        <div class="mb-2">
                            <div class="text-center mb-2">
                                <div><button type="button" class="btn btn-outline-primary"
                                        (click)="submit();">Login</button></div>
                            </div>
                            <div class="text-center">
                                <div><a href="#">Forget Password</a></div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
