<div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Category</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of(dataSource$|async)">
                <tr>
                    <td>{{product.name}}</td>
                    <td><img [src]="product.image" width="50" height="50" class="img-thumbnail rounded-circle"></td>
                    <td>{{product.description}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.manufacturer}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <div class="d-flex">
                            <div class="mx-2"><button type="button" class="btn btn-primary" (click)="view(product)">View</button></div>
                            <div class="mx-2"><button type="button" class="btn btn-primary" (click)="edit(product)">Edit</button></div>
                            <div class="mx-2"><button type="button" class="btn btn-danger" (click)="delete()">Delete</button></div>

                        </div>

                    </td>

                </tr>
            </ng-container>
        </tbody>
    </table>
</div>