<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="productInfo?.image" class="img-fluid rounded-start h-100" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{productInfo?.name}}</h5>
          <p class="card-text">{{productInfo?.description}}</p>
          <p class="card-text badge text-bg-primary">{{productInfo?.category}}</p>
          <p class="card-text">{{productInfo?.price | currency:'INR'}}</p>        
        </div>
      </div>
    </div>
  </div>