<!-- <app-profile>
 

</app-profile> -->

<!-- <app-todo></app-todo> -->

<!-- <app-login></app-login> -->

<!-- <app-product-card></app-product-card> -->

<!-- <router-outlet></router-outlet> -->
<div class="d-flex">
    <ng-container *ngFor="let route of routeLabel">
        <div><a [routerLink]="route" class="badge bg-primary mx-2">{{route}}</a></div>
    </ng-container>
</div>
<main role="main" [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
</main>
<!-- 
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="to-do">todo</a>
                   
                <li class="list-group-item">
                    <a href="profile">Profile</a>

                </li>
                <li class="list-group-item">
                    <a href="shopping">shopping</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-9">
                <div class="card border-0">
                </div>

        </div>

    </div>

</div> -->